.u-section-1 .u-sheet-1 {
  min-height: 110px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  font-size: 1.875rem;
  align-self: center;
  margin: 30px auto;
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 110px;
  left: auto;
  right: 0;
}

.u-section-1 .u-image-2 {
  width: 110px;
  left: 0;
  right: auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-right: 379px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-right: auto;
    margin-left: 379px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-right: 230px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 230px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 110px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  font-size: 1.875rem;
  align-self: center;
  margin: 30px auto 0;
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 110px;
  height: 110px;
  margin: -80px auto 0 0;
}

.u-section-2 .u-image-2 {
  width: 110px;
  height: 110px;
  margin: -110px 0 0 auto;
}.u-section-3 .u-sheet-1 {
  min-height: 110px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  font-size: 1.875rem;
  align-self: center;
  margin: 0 auto;
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 110px;
  height: 110px;
  margin: -80px 0 0 auto;
}

.u-section-3 .u-image-2 {
  width: 110px;
  height: 110px;
  margin: -110px auto -30px 0;
}.u-section-4 .u-sheet-1 {
  min-height: 110px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  font-size: 1.875rem;
  align-self: center;
  margin: 30px auto 0;
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 110px;
  height: 110px;
  margin: -80px auto 0 0;
}

.u-section-4 .u-image-2 {
  width: 110px;
  height: 110px;
  margin: -110px 0 0 auto;
}